name: Deploy container
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build image
        run: docker build -f Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:${{ github.sha }} .

      - name: Tag and push to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:${{ github.sha }}
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:latest

      - name: Tag and push to GitHub Container Registry
        run: |
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:${{ github.sha }} ghcr.io/${{ github.repository_owner }}/github-runner-android:${{ github.sha }}
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/github-runner-android:${{ github.sha }} ghcr.io/${{ github.repository_owner }}/github-runner-android:latest
          docker push ghcr.io/${{ github.repository_owner }}/github-runner-android:${{ github.sha }}
          docker push ghcr.io/${{ github.repository_owner }}/github-runner-android:latest
